.messages {
  --padding-message: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message {
  word-break: break-all;
  &.right {
    margin-left: auto;
    padding-left: var(--padding-message);
  }
  &.left {
    padding-right: var(--padding-message);
  }
}
